:root {
  --ash-gray: #bfc3ba;
  --silver-chalice: #a9aca9;
  --lilac: #a49db7;
  --eggplant: #60495a;
  --english-violet: #3f3244;
  --dark-purple: #2f2235;
}

#sessh-body {
  background-color: var(--ash-gray);
}

#sessh-body > *,
.ui.center.aligned.header
{
  color: var(--english-violet);
}

#sesshHeader {
  color: var(--lilac);
  font-weight: bold;
}
#sesshText,
#navbar-current-user,
#navbar-settings,
#navbar-sign-out
{
  color: var(--lilac);
}

#navBar,
#navBar > div > * > div.menu.transition.visible,
#navBar > div > * > div.menu.transition.visible > * > *,
#navBar > div > * > .menu:after
{
  background-color: var(--dark-purple);
  color: var(--lilac);
}

#navBar > a.item.active {
  color: var(--lilac) !important;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #a49db7;
}

/*#navBar > *:hover,*/
/*.ui.menu .ui.dropdown .menu > .item:hover*/
/*{*/
/*  background-color: var(--english-violet);*/
/*}*/

#footer {
  color: var(--english-violet);
}

#footer > * > a {
  color: var(--dark-purple);
}

#footer > * > a:hover {
  color: var(--lilac);
}


#searchPageMenu {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

#searchPageMenu > * {
  color: #a49db7;
}

.sessh-landing-bg {
  background: url('images/sessh_image.jpg') no-repeat center center fixed;
  background-size: cover;
}

.landing-center {
  margin-top: 100px;
  margin-bottom: 100px;
}

.sessh-title {
  margin-top: 45px;
  font-size: 80px;
  color: var(--english-violet);
  font-weight: bold;
  text-align: center;
}

.spacer {
  margin-bottom: 20px;
}

#info {
  margin-bottom: 50px;
  font-size: 40px;
}

#bolder {
  margin-bottom: 20px;
  font-weight: bold;
}

#Account-Title {
  color: var(--english-violet);
  font-size: 50px;
}

#edit-button {
  background-color: var(--ash-gray);
  color: var(--english-violet);
  border: none;
  box-shadow: none;
}
